<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>compile</title>
</head>
<body>
    <!-- <div id="app">
        <ul :class="bindCls" class="list" v-if="isShow">
            <li v-for="(item, index) in arr" @click="clickItem(index)">{{item}}:{{index}}</li>
        </ul>
    </div> -->
    <span id="app"></span>
	<script type="text/javascript" src="../../dist/vue.js"></script>
    <script>
    	const res = Vue.compile(`
            <ul :class="bindCls" class="list" v-if="isShow">
                <li v-for="(item, index) in arr" @click="clickItem(index)">{{item}}:{{index}}</li>
            </ul>
        `)
        console.log(res)

    	const vm = new Vue({
            el: '#app',
    		data: {
    			isShow: true,
                bindCls: 'my-bindCls',
                arr: [1, 2, 3]
    		},
    		methods: {
    			clickItem(index) {
    				console.log(index)
    			}
    		},
    		/*render: res.render,
    		staticRenderFns: res.staticRenderFns*/
    	}).$mount('#app')

        /*(isShow)
            ?_c(
                'ul',
                {
                    staticClass:"list",
                    class:bindCls
                },
                _l(
                    (data),
                    function(item,index){
                        return _c(
                            'li',
                            {
                                on:{
                                    "click":function($event){
                                        clickItem(index)
                                    }
                                }
                            },
                            [_v(_s(item)+":"+_s(index))]
                        )
                    }
                )
            )
            :_e()*/




    </script>
</body>
</html>