<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>parse</title>
</head>
<body>
	<div id="app">
		<ul 
		    v-if="isShow"
		    :class="bindCls" 
		    class="list" 
		>
		    <li
		        v-for="(item, index) in arr" 
		        @click="clickItem(index)"
		    >
		        {{item}}: {{index}}
		    </li>
		</ul>
	</div>

	<script src="../../../dist/vue.js"></script>
	<script>
		const vm = new Vue({
			data: {
				isShow: true,
	            bindCls: 'my-bindCls',
	            arr: [1, 2, 3]
			},
			methods: {
				clickItem(index) {
					console.log(index)
				}
			}
		}).$mount('#app')

		Vue.compile(`
			<uni-app :class="{'uni-app--showtabbar':showTabBar}">
			    <!-- <transition :name="transitionName"> -->
			    <!-- TODO -->
			    <keep-alive :include="keepAliveInclude">
			        <router-view :key="key" />
			    </keep-alive>
			    <!-- </transition> -->
			    <tab-bar
			        v-if="hasTabBar"
			        v-show="showTabBar"
			        v-bind="tabBar" />
			    <toast
			        v-bind="showToast"
			        @close="_onModalClose" />
			    <action-sheet
			        v-bind="showActionSheet"
			        @close="_onActionSheetClose" />
			    <modal
			        v-bind="showModal"
			        @close="_onModalClose" />
			    <picker
			        v-bind="showPicker"
			        @close="_onPickerClose" />
			</uni-app>
		`)
	</script>
</body>
</html>